{% extends "creview/base.html" %}

{% block top %}
    Upload file
{% endblock %}

{% block main %}
    <div>
        {% include "creview/components/app_flashed_info.html" %}
        <form enctype=multipart/form-data method="post">
            {% csrf_token %}
            <div class="d-flex justify-content-between w-100">
                <div class="w-50">
                    {{ form.as_p }}
                </div>
                <input type="submit" value="Upload" class="btn btn-outline-light">
            </div>
        </form>
    </div>
{% endblock %}